<div class="bd-example" style="margin-left: 10px;">

    <nav class="navbar navbar-expand-lg navbar-dark">
        <img alt="" title="Banco BICE" class="" src="../../../assets/images/logo.png" style="width: 150px; height: 50px;">
        <div class="collapse navbar-collapse pull-rigth" id="navbarColor02">
            <ul class="navbar-nav ml-auto">
                <a class="btn btn-outline my-2 my-sm-0" routerLink="/suscription" style="
                color: #326295;border-color: #326295;">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    Suscribete</a>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #326295;">

        <a class="navbar-brand" routerLink="/dashboard">Indicadores Económicos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>


</div>