<!-- main app container -->
<div class="card m-3">
    <h5 class="card-header">Suscripción</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group col-5">
                <label>Nombre Completo</label>
                <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Este campo es Obligatorio</div>
                </div>
            </div>
            <div class="form-group col-5">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Este campo es Obligatorio</div>
                    <div *ngIf="f.email.errors.email">Ingrese una dirección de correo válida</div>
                </div>
            </div>
            <div class="text-left" style="margin-left: 15px;">
                <button class="btn btn-primary mr-1" [disabled]="submitted && f.email.errors || submitted && f.name.errors">Suscribir</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()" [disabled]="submitted && f.email.errors || submitted && f.name.errors">Cancelar</button>
            </div>
        </form>
    </div>
</div>