.card-body {
    background-color: #6c757da6;
}

.card-body .card-title{
    color: white;
}

.text-muted {
    color: black !important;
}

.content-indicator {
    display: flex;
    background: url('../../../assets/images/descarga.jpeg') ;
    background-image: url('../../../assets/images/descarga.jpeg');
}

