<div class="row" style="justify-content: center; margin-top: 20px;" *ngIf="indicadores">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-usd" aria-hidden="true"></i>
        Valor Dolar</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{indicadores.dolar.date.utc.fullDateTime}} </h6>
      <h6 class="card-subtitle mb-2 text-muted">
        {{indicadores.dolar.value}}
        <i class="fa fa-arrow-up" aria-hidden="true" style="color: green;" *ngIf="variacionDolar>0"></i>
        <i class="fa fa-arrow-down" aria-hidden="true" style="color: red;" *ngIf="variacionDolar<0"></i>
        {{ (variacionDolar || variacionDolar < 0) ? (variacionDolar| number:'1.2-2') : ''}}
      </h6>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-eur" aria-hidden="true"></i>
        Valor Euro</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{indicadores.euro.date.utc.fullDateTime}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">
        {{indicadores.euro.value}}
        <i class="fa fa-arrow-up" aria-hidden="true" style="color: green;" *ngIf="variacionEuro>0"></i>
        <i class="fa fa-arrow-down" aria-hidden="true" style="color: red;" *ngIf="variacionEuro<0"></i>
        {{(variacionEuro || variacionEuro < 0) ? (variacionEuro| number:'1.2-2') : ''}}
      </h6>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Valor UF</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{indicadores.uf.date.utc.fullDateTime}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">
        {{indicadores.uf.value}}
        <i class="fa fa-arrow-up" aria-hidden="true" style="color: green;" *ngIf="variacionUF>0"></i>
        <i class="fa fa-arrow-down" aria-hidden="true" style="color: red;" *ngIf="variacionUF<0"></i>
        {{(variacionUF || variacionUF < 0) ? (variacionUF| number:'1.2-2') : ''}}
      </h6>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Valor UTM</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{indicadores.utm.date.utc.fullDateTime}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">
        {{indicadores.utm.value}}
        <i class="fa fa-arrow-up" aria-hidden="true" style="color: green;" *ngIf="variacionUTM>0"></i>
        <i class="fa fa-arrow-down" aria-hidden="true" style="color: red;" *ngIf="variacionUTM<0"></i>
        {{(variacionUTM>0 || variacionUTM < 0) ? (variacionUTM| number:'1.2-2') : ''}}
      </h6>
    </div>
  </div>
</div>

<div class="spinner-border text-primary" role="status" *ngIf="!indicadores" style="margin-top: 20px;">
  <span class="sr-only">Loading...</span>
</div>