<div class="row" style="justify-content: center; margin-top: 20px;">

    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" placeholder="dd-mm-yyyy" name="dpf" [(ngModel)]="fromDate" ngbDatepicker
                    #df="ngbDatepicker" (dateSelect)="onDateSelection($event)">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="df.toggle()" type="button"><i
                            class="fa fa-calendar" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </form>

    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dpt" [(ngModel)]="toDate" ngbDatepicker
                    #dt="ngbDatepicker" (dateSelect)="onDateSelectionHasta($event)">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="dt.toggle()" type="button"><i
                            class="fa fa-calendar" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>