
<app-datepicker (fecha)="procesarFecha($event)" *ngIf="valuesCobre"></app-datepicker>
<div class="row" style="justify-content: center; margin-top: 20px;" *ngIf="valuesCobre">
   <div class="card" style="width: 60rem;">
      <div class="card-body">
         <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"
            style="width: 100%; height: 400px; display: block;">
         </highcharts-chart>
      </div>
   </div>
</div>

<div class="spinner-border text-primary" role="status" *ngIf="!valuesCobre" style="margin-top: 20px;">
   <span class="sr-only">Loading...</span>
 </div>